@media screen and (min-width:80px) and (max-width: 720px) {

.section4 {
    display:flex;
    flex-direction:column;
    width: 100%;
    height: 1100px;
    overflow: hidden;
}

.contratando {
    position: relative;
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
    width: 100%;
    height: auto;
}


.deg-30 {
    top: 0;
    right: -10px;
    overflow: hidden;
    width: 100%;
}

.return-deg {
    margin-left: -50px;
    width: 100%;
}

.return-deg img {
    width: 150%;
}

.contratanto-vagas {
    color: black;
    padding: 30px 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.contratanto-vagas h2 {
    font-size: 50px;
    padding-bottom: 20px;
}

.juntese-our {
    font-size: 20px;
    width: 100%;
    height: 100px;
    padding: 00px 20px;
    padding-bottom: 25px;
}

.botoes-vagas {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.p-vagas {
    font-size: 20px;
}

.p-explorar {
    font-size: 20px;
}


.botao-n-vagas {
    width: 100%;
    margin: 0 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-radius: 15px;
    padding: 15px;
    background-color: #b9b9b9;
    transition: background-color 0.5s ease-in-out, transform 0.3s ease-in-out;
}

.botao-n-vagas:hover {
    background-color: #858585d0;
    /* Adiciona um leve efeito de zoom */
}

.botao-carreiras {
    width: 90%;
    border-radius: 15px;
    margin: 15px 80px;
    padding: 15px 15px;
    background-color: #ff4655;
    transition: background-color 0.5s ease-in-out;
}

.botao-carreiras:hover {
    background-color: #f3515edc;
}
}
/*________________________________________________________________*/
@media screen and (min-width:921px) and (max-width: 1400px) {

    .section4 {
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    
    .contratando {
        position: relative;
        display: flex;
        background: rgb(255, 255, 255);
        width: 100%;
        height: 600px;
    }
    
    .contratanto-vagas {
        width: 950px;
        overflow: hidden;
    }
    
    .deg-30 {
        top: 0;
        right: -10px;
        position: absolute;
        overflow: hidden;
        width: 1050px;
        transform: skew(-20deg);
    }
    
    .return-deg {
        margin-left: -50px;
        width: 100%;
        transform: skew(20deg);
    }
    
    .return-deg img {
        width: 150%;
    }
    
    .contratanto-vagas {
        color: black;
        padding: 110px 0px;
    
        padding-left: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    
    }
    
    .contratanto-vagas h2 {
        font-size: 50px;
        padding-bottom: 20px;
    }
    
    .juntese-our {
        font-size: 20px;
        width: 430px;
        height: 100px;
        padding-bottom: 25px;
    }
    
    .botoes-vagas {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .p-vagas {
        font-size: 30px;
    }
    
    .p-explorar {
        font-size: 20px;
    }
    
    
    .botao-n-vagas {
        width: 200px;
        margin: 0 8px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        border-radius: 15px;
        padding: 15px;
        background-color: #b9b9b9;
        transition: background-color 0.5s ease-in-out, transform 0.3s ease-in-out;
    }
    
    .botao-n-vagas:hover {
        background-color: #858585d0;
        /* Adiciona um leve efeito de zoom */
    }
    
    .botao-carreiras {
        width: 200px;
        border-radius: 15px;
        margin: 15px 80px;
        padding: 15px 15px;
        background-color: #ff4655;
        transition: background-color 0.5s ease-in-out;
    }
    
    .botao-carreiras:hover {
        background-color: #f3515edc;
    }
    }
    /*________________________________________________________________*/
@media screen and (min-width:1401px) and (max-width: 2000px) {

    .section4 {
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    
    .contratando {
        position: relative;
        display: flex;
        background: rgb(255, 255, 255);
        width: 100%;
        height: 600px;
    }
    
    .contratanto-vagas {
        width: 950px;
        overflow: hidden;
    }
    
    .deg-30 {
        top: 0;
        right: -10px;
        position: absolute;
        overflow: hidden;
        width: 1050px;
        transform: skew(-20deg);
    }
    
    .return-deg {
        margin-left: -50px;
        width: 100%;
        transform: skew(20deg);
    }
    
    .return-deg img {
        width: 150%;
    }
    
    .contratanto-vagas {
        color: black;
        padding: 110px 0px;
    
        padding-left: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    
    }
    
    .contratanto-vagas h2 {
        font-size: 50px;
        padding-bottom: 20px;
    }
    
    .juntese-our {
        font-size: 20px;
        width: 430px;
        height: 100px;
        padding-bottom: 25px;
    }
    
    .botoes-vagas {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .p-vagas {
        font-size: 30px;
    }
    
    .p-explorar {
        font-size: 20px;
    }
    
    
    .botao-n-vagas {
        width: 200px;
        margin: 0 8px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        border-radius: 15px;
        padding: 15px;
        background-color: #b9b9b9;
        transition: background-color 0.5s ease-in-out, transform 0.3s ease-in-out;
    }
    
    .botao-n-vagas:hover {
        background-color: #858585d0;
        /* Adiciona um leve efeito de zoom */
    }
    
    .botao-carreiras {
        width: 200px;
        border-radius: 15px;
        margin: 15px 80px;
        padding: 15px 15px;
        background-color: #ff4655;
        transition: background-color 0.5s ease-in-out;
    }
    
    .botao-carreiras:hover {
        background-color: #f3515edc;
    }
    }