<link rel="stylesheet" href="header.css">
<!--aqui começa o cabeçalho do site-->
<header id="header" class=" header ">
    <div id="left" class="">
        <img class="i2" src="image/IconScarlet.png" alt="">
        <img class="i1" src="image/NomeScarletGames.png" alt="">
        <nav class="header-center">
            <ul class="">
                <li class="">
                    <div class="dropdown">
                        <p>GAME INFO
                            <svg width="10" height="5" class="Keqbnicv6fO1CTrVF-g5Rg==" viewBox="0 0 8 5">
                                <title>mainNavArrowDown</title>
                                <path
                                    d="m.707 1.707 2.586 2.586a1 1 0 0 0 1.414 0l2.586-2.586C7.923 1.077 7.477 0 6.586 0H1.414C.524 0 .077 1.077.707 1.707Z"
                                    fill="#7E7E7E"></path>
                            </svg>
                        </p>

                        <ul class="submenu-game-info">

                            <li class="submenu-item"><a href="/pt-br/quem-somos" class="submenu-link">Sobre a
                                    Riot</a></li>
                            <li class="submenu-item"><a href="/pt-br/diversity-and-inclusion"
                                    class="submenu-link">Diversidade e Inclusão</a></li>
                            <li class="submenu-item"><a href="/pt-br/quem-somos/impacto-social"
                                    class="submenu-link">Impacto social</a></li>
                        </ul>
                    </div>


                </li>
                <li class="d-flex align-center mg-0-5">
                    <a href="media.html">MEDIA</a>
                </li>
                <li class="d-flex align-center mg-0-5">
                    <a href="news.html">NEWS</a>
                </li>
                <li class="d-flex align-center mg-0-5">
                    <a href="leadersbords.html">LEADERSBORDS</a>
                </li>
                <li class="d-flex align-center mg-0-5">
                    <a href="support.html">SUPPORT</a>
                </li>
                <li class="d-flex align-center mg-0-5">
                    <a href="ourSocials.html">OUR SOCIALS</a>
                </li>
                <li class="d-flex align-center mg-0-5">
                    <a href="more.html">MORE</a>
                </li>
            </ul>
        </nav>
    </div>


    <div class="right">
        <form method="GET" action="/pt-br/buscar" class="search-form">
            <label class="search-container">
                <input type="text" name="q" size="12" placeholder="BUSCAR" class="search-input" autocomplete="off"
                    value="" />
                <button type="submit" class="search-button" tabindex="-1" title="title">
                    <span class="icon" aria-hidden="true">
                        <svg viewBox="0 0 19 20" width="19" height="20">
                            <path fill="white" fill-rule="evenodd" clip-rule="evenodd"
                                d="M19 18.6l-5.2-5.2C15.2 12 16 10.1 16 8c0-4.4-3.6-8-8-8S0 3.6 0 8s3.6 8 8 8c1.6 0 3.1-.5 4.3-1.3l5.3 5.3 1.4-1.4zM2 8c0-3.3 2.7-6 6-6 1.6 0 3.1.6 4.2 1.8C13.4 4.9 14 6.4 14 8s-.6 3.1-1.8 4.2C11.1 13.4 9.6 14 8 14c-3.3 0-6-2.7-6-6z">
                            </path>
                        </svg>
                    </span>
                </button>
            </label>
        </form>

        <!-- <a href="#"><img src="image/IconScarlet.png" alt=""></a> -->
        <button class="button">PLAY NOW</button>
    </div>
</header>